@import "tailwindcss";

body {
    background-image: url("../img/Uedcl\ icon\ \(1\).png");
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
    opacity: 0.5;
}

#CTA {
    background-image: url("../img/Uedcl\ icon\ \(3\).png");
     background-repeat: no-repeat;
     background-size: 800px;
     background-position: center;

}

@media(max-width: 576px) {
   body {
     background-image: url("../img/Uedcl\ icon\ \(1\).png");
       background-repeat: no-repeat;
    background-size: 300px;
    background-position: 80% -5%;
}

#CTA {
    background-image: url("../img/Uedcl\ icon\ \(3\).png");
     background-repeat: no-repeat;
 

}
    
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: black;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}
.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translatey(0px);
    
}
.open .hamburger-middle{
    display: none;
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(0px) translatex(-6px);
    
}